/** Buttons */
button,
input[type='submit'] {
  padding-inline: var(--spacing-1);
  padding-block: var(--spacing-0);
  border-radius: var(--border-radius);
  border: none;
  color: var(--clr-main-100);
  font-size: 1rem;
  background-color: var(--clr-accent-500);
}

button:hover,
input[type='submit']:hover {
  cursor: pointer;
  background-color: var(--clr-accent-600);
}

button[type='reset'] {
  background-color: var(--clr-danger);
}

button[type='reset']:hover {
  background-color: color-mix(in srgb, var(--clr-danger), #000000 10%);
}

/** Links */
a {
  color: var(--clr-accent-600);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  a {
    color: var(--clr-accent-400);
  }
}
