/** Buttons & Links */
button,
input[type='submit'] {
  padding-inline: var(--spacing-1);
  padding-block: var(--spacing-0);
  border-radius: var(--border-radius);
  border: none;
  color: var(--clr-light-0);
  font-size: 1rem;
  background-color: var(--clr-accent-0);
}

button:hover,
input[type='submit']:hover {
  cursor: pointer;
  background-color: color-mix(in srgb, var(--clr-accent-0), #000000 5%);
}

button[type='reset'] {
  background-color: var(--clr-danger);
}

button[type='reset']:hover {
  background-color: color-mix(in srgb, var(--clr-danger), #000000 10%);
}

a {
  color: var(--clr-accent-0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
