/* TODO: finish form, input, & layout rules */
/** Form layout */
form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-0);
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-00);
}

/** Inputs & Controls */
form {
  color: inherit;
}

input,
textarea {
  color: inherit;
  border: var(--border-style);
  padding: var(--spacing-0);
  border-radius: var(--border-radius);
  background-color: var(--clr-bg); /* TODO: Alt color */
  width: 100%;
  font-size: var(--size-1);
}

input::placeholder,
textarea::placeholder {
  color: var(--clr-text); /* TODO: Alt color */
}

textarea {
  resize: vertical;
  overflow: auto;
}

input[type='checkbox'] {
  appearance: none;
  transition: background-color 200ms ease-in-out;
  --checkmark-offset: 0.2rem;
  --checkmark-starting-offset: 50%;
  --checkmark-radius: calc(var(--border-radius) - var(--checkmark-offset));

  &:hover {
    cursor: pointer;
  }

  &:checked {
    position: relative;
    border-color: var(--clr-accent);
    transition: border-color 200ms ease-in-out;
  }

  &:checked::before {
    content: '';
    position: absolute;
    top: var(--checkmark-offset);
    right: var(--checkmark-offset);
    bottom: var(--checkmark-offset);
    left: var(--checkmark-offset);
    border-radius: var(--checkmark-offset);
    background-color: var(--clr-accent);

    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;

    @starting-style {
      background-color: transparent;
      top: var(--checkmark-starting-offset);
      right: var(--checkmark-starting-offset);
      bottom: var(--checkmark-starting-offset);
      left: var(--checkmark-starting-offset);
    }
  }
}

label {
  display: flex;
  align-items: center;
  gap: var(--spacing-00);
}

label > input[type='checkbox'] {
  width: auto;
}

/* @media (prefers-color-scheme: dark) {
  input,
  textarea {
    background-color: var(--clr-main-30);
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--clr-main-00);
  }
} */
