:root {
  /** Customizable Color Properties */
  --clr-light: #f6f6f7;
  --clr-dark: #1b1b1f;

  --clr-bg: var(--clr-light);
  --clr-bg-alt: color-mix(in srgb, var(--clr-bg), #000000 10%);
  --clr-text: var(--clr-dark);
  --clr-text-alt: color-mix(in srgb, var(--clr-text), #ffffff 35%);
  --clr-accent: #7950f2;
  --clr-accent-alt: color-mix(in srgb, var(--clr-accent), #000000 10%);
  --clr-danger: #f03e3e;
  --clr-success: #2f9e44;

  @media (prefers-color-scheme: dark) {
    --clr-bg: var(--clr-dark);
    --clr-bg-alt: color-mix(in srgb, var(--clr-bg), #ffffff 10%);
    --clr-text: var(--clr-light);
    --clr-text-alt: color-mix(in srgb, var(--clr-text), #000000 45%);
  }

  /** Font Properties  */
  --weight-normal: 400;
  --weight-bold: 700;
  --weight-light: 200;

  /** Size & Spacing Properties  */
  /*
    TODO: Update property nomenclature
    Should follow the color approach above
  */

  --size-0: 0.75rem;
  --size-1: 1rem;
  --size-2: 1.25rem;

  --spacing-00: 0.5rem;
  --spacing-0: 0.75rem;
  --spacing-1: 1rem;
  --spacing-2: 1.25rem;

  --content-width: min(80ch, 80%);

  /** Border & Outline Properties */
  --border-radius: 0.375rem;
  --border-style: solid 2px var(--clr-bg-alt);
  --outline-style: solid 3px var(--clr-accent);
}
