/** import the default properties */
@import url('./parts/properties.css');

/** import the framework parts */
@import url('./parts/accessibility.css');
@import url('./parts/clickables.css');
@import url('./parts/components.css');
@import url('./parts/containers.css');
@import url('./parts/font.css');
@import url('./parts/forms.css');
@import url('./parts/tables.css');
@import url('./parts//classes.css');

/** Global styles and rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--clr-main-100);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--clr-main-900);
  }
}
